.home-image {
  background-image: url("eir.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  /*width: 1200px;*/
  height: 800px;
}

.home-title {
  margin-top: 60px;
  font-size: 40px;
  color: white;
  text-align: center;
}

.home-button {
 
   /*position: absolute; 
   left: 50%;
   bottom: 100px;
   height: 60px;
   width: 300px;
   border-radius: 5px;
   font-size: 20px;
   display: inline-block;*/
   margin-top: 2em;
}

.patients-background {

  background-color: white;

}

.patient {
  border: 2px solid black;
  text-align: center;
  box-shadow: 2px 4px 11px 1px black;
  margin-bottom: 1em;
  padding: 0 !important;
  background-color:rgba(148, 143, 188, 0.34);
}

.patient .bio {
  
  text-align: left;
  padding: 8px;
}

.patient img {
  max-width: 250px;
  height: 200px;
  margin-bottom: 3px;
  border: 3px solid black;

}

footer {
  background-color: gray;
}

.css-form input.ng-invalid.ng-touched {
  background-color: #FA787E;
}

.css-form input.ng-valid.ng-touched {
  background-color: #78FA89;
}



.patient-header {
  background-image: url('eir.jpg');
  background-position: center center;
  background-size: cover;
  height: 200px;
  margin-bottom: 2em;
  color: white;
}

