<br>
<br>
<div>
  <form novalidate action="/classes/patients" method="post" class="css-form" enctype="multipart/form-data">>
    <input type="text" ng-model="patient.first_name" name="first_name" placeholder="First Name" required>
    <input type="text" ng-model="patient.last_name" name="last_name" placeholder="Last Name" required>
    <input type="email" ng-model="patient.username" name="email" placeholder="Email" required>
    <input type="text" ng-model="patient.password" name="password" placeholder="Password" required>
    <input type="text" ng-model="patient.condition" name="condition" placeholder="Condition" required>
    <input type="text" ng-model="patient.photo" name="photo" placeholder="Photo Upload" required>
    <input type="text" ng-model="patient.bio" name="bio" placeholder="Bio" required>
    <input type="text" ng-model="patient.progress" name="progress" placeholder="Progress" required>
    <input type="text" ng-model="patient.goal" name="goal" placeholder="Goal" required>
    <input type="text" ng-model="patient.funded" name="funded" placeholder="Funded" required>
    <input type="submit" value="submit" ng-click="submitPatientForm(patient)">
  </form>


<style type="text/css">
  .css-form input.ng-invalid.ng-touched {
    background-color: #FA787E;
  }

  .css-form input.ng-valid.ng-touched {
    background-color: #78FA89;
  }
</style>
