<br>
<br>
<div class="container col-md-6 col-md-offset-3">
  <div class="row">
    
  
  <form ng-submit="handleSubmit(patient)" enctype="multipart/form-data" class="css-form" novalidate>
    
    <div class="form-group">    
      <label for="First">First Name</label>
      <input class="form-control" id="First" type="text" ng-model="patient.first_name" name="first_name" placeholder="First" required>
    </div>

    <div class="form-group">
      <label for="Last">Last Name</label>
      <input class="form-control" id="Last" type="text" ng-model="patient.last_name" name="last_name" placeholder="Last" required>
    </div>

    <div class="form-group">
      <label for="Email">Email</label>
      <input class="form-control" id="Email" type="email" ng-model="patient.email" name="email" placeholder="Email" required>
    </div>

    <div class="form-group">
      <label for="Password">Password</label>
      <input class="form-control" id="Password" type="text" ng-model="patient.password" name="password" placeholder="Password" required>
    </div>

    <div class="form-group">    
      <label for="Condition">Condition</label>
      <input class="form-control" id="Condition" type="text" ng-model="patient.condition" name="condition" placeholder="Condition" required>
    </div>

    <div class="form-group">
    
      <label for="Photo">Photo</label>
      <input class="form-control" id="Photo" type="file" ng-model="patient.photo" name="photo" placeholder="Photo Upload" required>
    </div>

    <div class="form-group">
      <label for="Bio">Bio</label>
      <input class="form-control" id="Bio" type="text" ng-model="patient.bio" name="bio" placeholder="Bio" required>
    </div>

    <div class="form-group">
      <label for="Goal">Goal</label>
      <input class="form-control" id="Goal" type="text" ng-model="patient.goal" name="goal" placeholder="Goal" required>
    </div>

    
    
    <input class="form-control" type="submit" value="submit">


  </form>
  </div>
</div>
