<br>
<br>
<div>
  <ul>
    <li><b>Patient id:</b> {{ patient.id }}</li>
    <li><b>Patient username:</b> {{ patient.username }}</li>
    <li><b>Patient first_name:</b> {{ patient.first_name }}</li>
    <li><b>Patient last_name:</b> {{ patient.last_name }}</li>
    <li><b>Patient bio:</b> {{ patient.bio }}</li>
    <li><b>Patient goal:</b> {{ patient.goal }}</li>
    <li><b>Patient progress:</b> {{ patient.progress }}</li>
    <li><b>Patient funded:</b> {{ patient.funded }}</li>
    <li><b>Patient condition_id:</b> {{ patient.condition_id }}</li>
    <li><b>Patient photo_id:</b> {{ patient.photo_id }}</li>
  </ul>
</div>
<br>
<br>
<br>

<form ng-submit="handleSubmit(donor)" class="css-form" class="css-form" novalidate>

    <input type="text" ng-model="donor.donor_first_name" name="first_name" placeholder="First Name" value="asdf">
    <br>
    <input type="text" ng-model="donor.donor_last_name" name="last_name" placeholder="Last Name">
    <br>
    <input type="email" ng-model="donor.donor_email" name="email" placeholder="Email Address">
    <!-- <br> -->
    <!-- <input type="text" ng-model="donor.cc" name="cc" placeholder="Credit Card Number"> -->
    <!-- <br> -->
    <!-- <input type="text" ng-model="donor.exp" name="expiration" placeholder="Expiration (mm/yyyy)"> -->
    <!-- <br> -->
    <!-- <input type="text" ng-model="donor.cvv" name="cvv" placeholder="CVV"> -->
    <br>
    <input type="text" ng-model="donor.amount" name="amount" placeholder="Donation Amount">
    <!-- <br> -->
    <!-- <input type="text" ng-model="donor.message" name="amount" placeholder="Send a Message to Your Patient"> -->
    <br>
    <input type="submit" value="submit">
    
</form>
